@import "tailwindcss";

@theme {
  --color-blueGray-50: #F8FAFC;
  --color-blueGray-100: #F1F5F9;
  --color-blueGray-200: #E2E8F0;
  --color-blueGray-300: #CBD5E1;
  --color-blueGray-400: #94A3B8;
  --color-blueGray-500: #64748b;
  --color-blueGray-600: #475569;
  --color-blueGray-700: #334155;
  --color-blueGray-800: #1E293B;
  --color-blueGray-900: #0F172A;
}

/* Carga de la fuente */
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../../public/fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url('../../public/fonts/SourceSansPro/SourceSansPro-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Source-Sans-Pro-Bold';
  src: url('../../public/fonts/SourceSansPro/SourceSansPro-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  src: url('../../public/fonts/Heebo/Heebo-Light.ttf') format('truetype');
}

.custom-link {
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: none !important;
  /* Elimina subrayado por defecto */
}

/* Estilos personalizados */
.roboto-condensed-bold {
  font-family: 'RobotoCondensed-Bold', sans-serif !important;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: none !important;
}

.roboto {
  font-family: 'Roboto' !important;
}

.roboto-bold {
  font-family: 'Roboto-Bold' !important;
}

.source-sans-pro {
  font-family: 'Source-Sans-Pro' !important;
}

.source-sans-pro-bold {
  font-family: 'Source-Sans-Pro-Bold' !important;
}

.lg\:roboto-bold {
  @media (width >=64rem

    /* 1024px */
  ) {
    font-family: 'Roboto-Bold' !important;
  }
}

.heebo {
  font-family: 'Heebo' !important;
}

.arial {
  font-family: Arial, sans-serif;
}