@import "tailwindcss";

/* Carga de la fuente */
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../../public/assets/fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../public/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url('../../public/assets/fonts/SourceSansPro-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Source-Sans-Pro-Bold';
  src: url('../../public/assets/fonts/SourceSansPro-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/fonts/Heebo-Light.ttf') format('truetype');
}

.custom-link {
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: none !important;
  /* Elimina subrayado por defecto */
}

/* Estilos personalizados */
.roboto-condensed-bold {
  font-family: 'RobotoCondensed-Bold', sans-serif !important;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: none !important;
}

.roboto {
  font-family: 'Roboto' !important;
}

.roboto-bold {
  font-family: 'Roboto-Bold' !important;
}

.source-sans-pro {
  font-family: 'Source-Sans-Pro' !important;
}

.source-sans-pro-bold {
  font-family: 'Source-Sans-Pro-Bold' !important;
}

.lg\:roboto-bold {
  @media (width >=64rem

    /* 1024px */
  ) {
    font-family: 'Roboto-Bold' !important;
  }
}

.heebo {
  font-family: 'Heebo' !important;
}

.arial {
  font-family: Arial, sans-serif;
}