.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .truncate-text {
    @apply overflow-hidden whitespace-nowrap;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0%;
    vertical-align: middle;
  }